<html>
<head>
    <style>body
            {
                font-family:calibri;
                font-size : 1em
            }
            .header
            {
              font-size : 2em;
              background-color: lightgray;
          }
    </style>
</head>
<body>
  <div class="header">
    <table width="100%" style="font-size:1em">
      <tr>
        <td>portale demo</td>
        <td style="text-align:right">applicazione demo</td>
      </tr>
    </table>
  </div>
  <div>
    {{body}}
  </div>
    <div class="header">
      <table width="100%" style="font-size:1em">
        <tr>
          <td>logo1</td>
          <td style="text-align:right">logo2</td>
        </tr>
      </table>
    </div>


</body>
</html>
